{% extends "base.html" %}
{% load i18n fasting_tags %}

{% block content %}
  <div class="row">
    <div class="col-8">
      <h2>{% trans 'Fasting sessions' %}</h2>
    </div>
    <div class="col-4">
      <a href="{% url 'fasting-track:create-fasting-session' %}" class="btn btn-primary"><i
        class="bi bi-plus-circle"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-3 d-none d-sm-block"> Start</div>
    <div class="col-2 d-none d-sm-block"> Target</div>
    <div class="col-2 d-none d-sm-block"> Duration</div>
    <div class="col-2 d-none d-sm-block"> Percentage</div>
    <div class="col-3 d-none d-sm-block"> Actions</div>
  </div>

  <div id="fast-session-list">
  {% for session in object_list %}
    {% if session.end_date %}
      <div class="row p-1 border border-top border-bottom">
    {% else %}
      <div class="row p-1 text-danger border border-top border-bottom">
    {% endif %}
  <div class="col-5 col-md-3">
    {{ session.start_date|date:'Y-m-d H:i' }}
  </div>
  <div class="col-2 d-none d-sm-block">
    {{ session.target_duration|hours }}
  </div>
  <div class="col-2 col-md-2">
    {{ session.current_duration|hours }}
  </div>
  <div class="col-2 col-md-2">
    {{ session.completed|percentage }}
  </div>
  <div class="col-4 col-md-3">
    <a href="{% url 'fasting-track:detail-fasting-session' session.id %}" class="btn btn-primary">
      <i class="bi bi-eye"></i>
    </a>
    <a href="{% url 'fasting-track:delete-fasting-session' session.id %}" class="btn btn-danger">
      <i class="bi bi-trash"></i>
    </a>
  </div>
  </div>
  {% endfor %}
</div>
  <div class="row">
    <div class="col-12">
      {% include 'snippets/pagination_bar.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <a class="btn btn-primary" href="{% url 'fasting-track:list-fasting-session' %}">Refresh</a>
    </div>
  </div>
{% endblock %}
