{% load crispy_forms_tags %}
{% load i18n %}
<div class="row">
  <div class="col-12">
    <h3>{% trans 'Last 10 Hits today' %} total: {{ hit_count }}</h3>
  </div>
</div>
{% for hit in hits %}
  <div class="row">
    <div class="col-3">
      {{ hit.club.name }}
    </div>
    <div class="col-2">
      {{ hit.distance }}
    </div>
    <div class="col-2">
      {% if hit.direction == 'L' %}
        <i class="bi bi-arrow-left-short"></i>
      {% endif %}
      {% if hit.direction == 'R' %}
        <i class="bi bi-arrow-right-short"></i>
      {% endif %}
      {% if hit.direction == 'S' %}
        <i class="bi bi-arrow-up-short"></i>
      {% endif %}
    </div>
    <div class="col-3">
      {{ hit.created|date:"H:i" }}
    </div>
    <div class="col-2">
      <button class="btn btn-danger" hx-delete="{% url 'golf:player-hit-delete' hit.pk %}"
              hx-target="#stats-id" hx-trigger="click">
        <i class="bi bi-trash3-fill"></i>
      </button>
    </div>
  </div>
{% endfor %}
