{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  <div class="row" id="event-actions-{{ event.id }}">
    <div class="col-12">
      {% if ticket %}
        <button class="btn btn-primary" hx-get="{% url 'events:ticket-details' ticket.id %}"
                hx-trigger="click" hx-target="#event-id-{{ event.id }}"
                hx-swap="afterend">
          {% trans 'View ticket' %}
        </button>
        <button class="btn btn-danger" hx-delete="{% url 'events:ticket-delete' ticket.id %}"
                hx-target="#event-actions-{{ event.id }}">
          {% trans 'Delete ticket' %}
        </button>
      {% else %}
        <button class="btn btn-primary" hx-get="{% url 'events:ticket-create' event.id %}"
                hx-trigger="click" hx-target="#event-id-{{ event.id }}" hx-swap="afterend">
          {% trans 'Get ticket' %}
        </button>
      {% endif %}
    </div>
  </div>
{% endblock %}
