{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
  <div class="row" id="event-form-row-{{ event.id }}" x-data="{open: true}" x-show="open">
    <div class="col-12">
      <h5>{% trans 'Select time slot for event' %}</h5>
      <form class="form-horizontal" method="post" action="" hx-post="{% url 'events:ticket-create' event.id %}"
            hx-target="#event-actions-{{ event.id }}"
      >
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary" @click="open=false">{% trans 'Save' %}</button>
            <button class="btn btn-secondary" @click="open=false">{% trans 'Cancel' %}</button>
          </div>
        </div>
        `
      </form>
    </div>
  </div>
{% endblock %}
